[*.cs]

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = silent

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:none

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none

# IDE0048: Add parentheses for clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:none
